html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #4d0007;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav {
  width: 90%;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;
  position: relative;
  bottom: 10px;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

nav ul li a:before {
  content:"";
  display: block;
  width: 0%;
  height: 5px;
  position: absolute;
  top: 0;
  background-color: white;
  transition: all ease-in-out 300ms;
}

nav ul li a:hover:before {
  width: 100%;
}

#welcome-section {
  height: 100vh;
  background-color: #36414f;
}

#name {
  color: white;
  font-size: 7rem;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 35%;
  font-family: 'Cinzel', serif;
  font-weight: 300;
}

@media (max-width: 800px) {
  #name {
    font-size: 4rem;
  }
}

#name #cap {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 60%;
  font-size: 2rem;
  color: #4d0007;
  font-family: serif;
}

#projects {
  margin: 0;
  padding:0 0 50px 0;
  width: 100%;
  background: #c5cdd4;
}

#title {
  font-size: 5rem;
  color: #4d0007;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
  font-family: 'Source Serif Pro', serif;
}


#projects_container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-title {
  margin: 50px 0;
  text-decoration: none;
  text-align: center;
}

 .websitename {
   display: block; 
   text-decoration: none;
   font-size: 2.5rem;
   width: 400px;
   background: linear-gradient(to right, #eee 50%, #36414f 50%);
   background-size: 200% 100%;
   background-position: left bottom;
   margin: 0 auto;
   padding: 5px 0;
   color: #4d0007;
   transition: all ease-in-out 500ms;
 }



 .websitename:hover {
  background-position: right bottom;
  color: white;
 }




#contact {
  width: 100%;
  background-color: #36414f;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#profile-link {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 300;
}

#profile-link:hover {
  text-decoration: underline; 
}


.info {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  padding-bottom: 50px;  
  display: block; 
}

.logoinline {
  display: inline;
}
